<h2>This is your profile</h2>

<p>Name: <%=user.name%>  </p>

<p>Email: <%=user.email%>  </p>

<p>Role: <%=user.role%>  </p>

<p>Profile Image: <%=user.profileImg%>  </p>

<p>facebookID: <%=user.facebookID%>  </p>


<img src="<%=user.profileImg%>" />

<% if (typeof message !== "undefined") { %>
<div class="success">  <%= success %> </div>
<% } %>


<% if (typeof message !== "undefined") { %>
<div class="success">  <%= message %> </div>
<% } %>
