


<h1><%= title %></h1>
<ul>

<li> Name:<%= contest.name %> </li>
<li> Category: <%= contest.category %></li>
<li> Description:<%= contest.description %> </li>

</ul>
<hr/>

      <a href = "/contest">
        Back to your contests page
      </a>

      <form action = "/<%= contest._id%>" method = "POST" >
         <div>
           <label for = "title"> Votes </label>
           <p>Votes: <%=contest.votes%></p>
         </div>
         <button  type="button" id="addVote"> Vote </button>
      </form>
